@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    font-family: 'Nova Square', sans-serif;
}

#firstDiv {
    background: url("pexels-mikhail-nilov-8296949.jpg");
    background-size: cover;
    height: 85vh;
}

button {
    background-color: #1c1c1c !important;
    color: #fa3d3b !important;
}

button:hover {
    background-color: #c6c6c6 !important;
}

input:focus {
    box-shadow: none !important;
}

div > h3 {
    color: #fa3d3b;
}

input, button {
    border: 2px solid #fa3d3b !important;
}

@media screen and (min-width: 250px) and (max-width: 992px) {
    #firstDiv {
        height: 40vh;
    }
}